@import "@workspace/ui/globals.css";
@plugin "@iconify/tailwind4";
@source "../../node_modules/streamdown/dist/*.js";
@source "../../node_modules/@streamdown/code/dist/*.js";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
}

[data-streamdown="code-block-body"] {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--muted-foreground) var(--muted);
  background-color: var(--card);
  border-color: var(--border);
}
